{% extends 'base.html' %}

{% block head %}Blog-post: Nishantha Publishers{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="mt-4 mb-3">{{ object.title }}
    <small>by
      <a href="{% url 'books:index' %}">Nishantha Publishers</a>
    </small>
  </h2>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'books:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">{{ object.title }}</li>
  </ol>

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{ object.main_picture.url }}" alt="Nishantha Publishers:{{ object.title }}">

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{ object.posted_on }}</p>

      <hr>

      <!-- Post Content -->
      <p class="lead">
        {{ object.paragraph }}
      </p>

      <hr>
      {% if user.is_authenticated %}
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form action="{% url 'blog_post:create_comment' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" value="{{ object.pk }}" id="post_id" name="post_id">
              <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      {% else %}
      <div class="card my-4" style="width: 100%;height: 90px;">
        <h5 style="text-align:center;margin-top: 20px;">You Cannot Leave Comments Without Login</h5>
      </div>
      {% endif %}
{% for comment in object.comment_set.all %}
      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{ comment.owner }}</h5>
          {{ comment.comment }}
        </div>
      </div>
{% endfor %}
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card mb-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
{% endblock %}