{% extends 'base.html' %}

{% block head %}News: Nishantha Publishers{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3 sanda-topic-style">News</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'books:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">News</li>
  </ol>
{% if object_list %}
{% for object in object_list %}
  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="{{ object.main_picture.url }}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">{{ object.title }}</h2>
          <p class="card-text">{{ object.paragraph }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ object.posted_on }}
    </div>
  </div>
{% endfor %}
{% else %}
<h4>No news found!</h4>
{% endif %}

</div>

{% endblock %}