{% extends 'base.html' %}

{% block head %}Failed to register{% endblock %}

{% block body %}
<br>
<h2 class="sanda-topic-style">Failed to register</h2>
<br>
<h5>We have failed to register your account. If you would like to try again <a href="{% url 'accounts:register' %}">click here.</a>
<br>
<br>

<h6>This registration failed occurs because one of these reasons,</h6>

<ul>
    <li><dd>A account was already registered for the username that your have given us.</dd></li>
    <li>Your given password is not strong enough. Try to use a strong one</li>
</ul>
{% endblock %}