
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">404
    <small>Page Not Found!</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'books:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">404</li>
  </ol>

  <div class="jumbotron">
    <h1 class="display-1">404</h1>
    <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
    <ul>
      <li>
        <a href="{% url 'books:index' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'about:index' %}">About</a>
      </li>
      <li>
        <a href="{% url 'contact:index' %}">Contact</a>
      </li>
      <li>
        Book Showcase
        <ul>
          <li>
            <a href="{% url 'book_1:index' %}">Novel Books</a>
          </li>
          <li>
            <a href="{% url 'book_2:index' %}">Motivational Books</a>
          </li>
          <li>
            <a href="{% url 'book_3:index' %}">Children Stories</a>
          </li>
          <li>
            <a href="{% url 'book_4:index' %}">Advice Books</a>
          </li>
        </ul>
      </li>
      <li>
        Blog
        <ul>
          <li>
            <a href="{% url 'blog:index' %}">Our Blog</a>
          </li>
          <li>
            <a href="{% url 'news:index' %}">News</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.jumbotron -->

</div>