{% extends 'base.html' %}

{% block head %}Home | Nishantha Publishers{% endblock %}

{% block body %}
  </div>
  <header>
  <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="border-bottom: 1px solid lightgray;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One -->
      <div class="carousel-item active" style="background: #ffffff url('/static/img/home_page_book.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">We Provide You Read</h3>
          <p class="sanda-top-image-slide-text">Knowledge is something that have share.</p>
        </div>
      </div>
      <!-- Slide Two -->
      <div class="carousel-item" style="background: #ffffff url('/static/img/home_page_book2.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">Book is Magical</h3>
          <p class="sanda-top-image-slide-text">Book is something that makes a virtual world around you.</p>
        </div>
      </div>
      <!-- Slide Three-->
      <div class="carousel-item" style="background: #ffffff url('/static/img/home_page_book3.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">Book Fulfils the Man</h3>
          <p class="sanda-top-image-slide-text">Book is The First Place To Look If You Want More Knowledge.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </header>
  </div class='container'>

<!-- Page Content -->
<div class="container sanda-main-container">

  <h2 class="my-4" style="text-align:center;margin:auto;text-decoration:underline;">Welcome to Nishantha Publishers

  <!-- Portfolio Section -->
  <h3>Latest Books <small>All books count - {{ all_book_count }}</small></h3>

  <div class="row">

    {% if book_list %}
    {% for book in book_list %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ book.cover_photo.url }}" alt="{{ book.title }} : Nishantha Publishers"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'book_single:index' pk=book.pk %}">{{ book.title }}</a>
          </h4>
          <p class="card-text">{{ book.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="container" style="text-align: center;">
        <h4>No books found!</h4>
    </div>
    {% endif %}
  </div>
  <hr>
  <!-- /.row -->

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>If You Have Any Problems About Things Regarding to Our Product, Press the Contact Button</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-lg btn-primary btn-block" onclick="contact_print()">Contact us</button>
    </div>
  </div>

</div>
<!-- /.container -->
{% endblock %}