{% extends 'base.html' %}

{% block body %}
  <header>
  <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="border-bottom: 1px solid lightgray;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background: #ffffff url('/static/img/home_page_book.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">First Slide</h3>
          <p class="sanda-top-image-slide-text">You may have to fight a battle more than once to win it.</p
            >
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background: #ffffff url('/static/img/home_page_book2.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">Second Slide</h3>
          <p class="sanda-top-image-slide-text">It is never too late to be what you might have been.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background: #ffffff url('/static/img/home_page_book3.jpg') no-repeat center;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="sanda-top-image-slide-text">Third Slide</h3>
          <p class="sanda-top-image-slide-text">Success is the sum of small efforts, repeated day-in and day-out.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </header>

<!-- Page Content -->
<div class="container sanda-main-container">

  <h2 class="my-4" style="text-align:center;margin:auto;text-decoration:underline;">Greetings! This is the home page.

  <!-- Portfolio Section -->
  <h3>Latest books <small><kbd class="text-info">{{ all_book_count }}</kbd></small></h3>

  <div class="row">

    {% for book in book_list %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ book.cover_photo.url }}" alt="{{ book.title }} : Nishantha Publishers"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'book_single:index' pk=book.pk %}">{{ book.title }}</a>
          </h4>
          <p class="card-text">{{ book.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="sanda-topic-style">Some Reasons to use this site.</h3>
      <br>
      <dl>
        <dt>Little Points</dt>
          <dd>1.You'll get the new informations about new releases before anyone.</dd>
          <dd>2.You'll able to view books without having to purchase them for free.</dd>
          <dd>3.24h support for problems regarding our products</dd>
      </dl>
      <p>Thanks for visiting this site. This site have 24h support to the problems related to our product. You'll be able to use this site as a online reading platform. This site offers the access to the high quality books for free.</p>
    </div>
    <div class="col-lg-6">
      {% load staticfiles %}
      <img class="img-fluid img-rounded img-thumbnail" src="{% static 'img/first_purpose.jpg' %}" alt="{{ object.title }} - Nishantha Publishers">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Have any problems? Having any trouble with something? <mark>Do not mess your mind.</mark> </p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-lg btn-secondary btn-block" onclick="contact_print()">Contact us</button>
    </div>
  </div>

</div>
<!-- /.container -->
{% endblock %}