{% extends 'base.html' %}

{% block head %}Cart | Check out for cart items{% endblock %}

{% block body %}
<br>
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'shop:index' %}">Online BookShop</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'shop:cart' %}">Cart</a>
    </li>
</ol>
<div style="margin:50px;background-color:#aeb3ba;padding-top:10px;">
    <h2 style="font-weight:bold;margin:25px;text-align:center;">Items in your Cart</h2>
    <hr style="background-color:black;">
    <br>
    {% if object_list %}
    {% for object in object_list %}
    <div style="width: 80%;text-indent:10px;">
        <p>Book Name: {{ object.title }}</p>
        <p>Book Type: {{ object.book_type }}</p>
        <p>Unit Price(Rs): {{ object.price }}</p>
        <p>Quantity: {{ object.qty }}</p>
        <p>Item Total(Rs): {{ object.item_total }}</p>
        <form action="{% url 'shop:cart_remove' pk=object.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remove</button>
        </form>
    </div>
    <hr>
    {% endfor %}
    <hr style="background-color:black;">
    <div style="background-color:#aeb3ba;text-align:right;padding-right:15px;padding-bottom:15px;">
        <p>Cart Subtotal(Rs): {{ cart_subtotal }}</p>
        <p>Shipping Price(Rs): {{ shipping_price }}</p>
        <h5>Total(Rs): {{ cart_total }}</h5>
        <button type="submit" class="btn btn-primary">Checkout</button>
    </div>
    {% else  %}
    <div style="width: 80%;text-indent:10px;">
        <h3 style="text-indent:10px;padding-bottom:10px;">No Item in your Cart</h3>
    </div>
    {% endif %}
</div>
{% endblock %}