{% extends 'base.html' %}

{% block head %}Shop | Nishantha Publishers Book Selling page{% endblock %}

{% block body %}
<br>
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'books:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Online BookShop</li>
</ol>
<br>
{% if novel_list %}
<section class="book_horizontal_list">
    <div class="book_horizontal_list_head">
        <h4>Novels</h4>
        <h5><a href="{% url 'shop:shop_list' pk=novel_id %}">See All</a></h5>
    </div>
    <div class="book_horizontal_list_body">
        {% for book in novel_list %}
        <div class="book_horizontal_list_body_item" style="width:20%;float:left;">
            <img class="img-fluid img-thumbnail" src="{{ book.cover_photo.url }}" alt="{{ book.title }}" style="width:100%;">
            <div class="book_horizontal_list_body_item_desc" style="text-indent:5px;background-color:white;border-left:1px solid lightgray;border-right:1px solid lightgray;border-bottom:1px solid lightgray;">
                <a href="{% url 'shop:book_buy' pk=book.pk %}"><h5>{{ book.title }}</h5></a>
                <h5>Rs.{{ book.price }}</h5>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<br><br><br><br><br><br><br><br><br><br>
{% if motivational_list %}
<section class="book_horizontal_list">
    <div class="book_horizontal_list_head">
        <h4>Motivational Books</h4>
        <h5><a href="{% url 'shop:shop_list' pk=motivational_id %}">See All</a></h5>
    </div>
    <div class="book_horizontal_list_body">
        {% for book in motivational_list %}
        <div class="book_horizontal_list_body_item" style="width:20%;float:left;">
            <img class="img-fluid img-thumbnail" src="{{ book.cover_photo.url }}" alt="{{ book.title }}" style="width:100%;">
            <div class="book_horizontal_list_body_item_desc" style="text-indent:5px;background-color:white;border-left:1px solid lightgray;border-right:1px solid lightgray;border-bottom:1px solid lightgray;">
                <a href="{% url 'shop:book_buy' pk=book.pk %}"><h5>{{ book.title }}</h5></a>
                <h5>Rs.{{ book.price }}</h5>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<br><br><br><br><br><br><br><br><br><br>
{% if children_list %}
<section class="book_horizontal_list">
    <div class="book_horizontal_list_head">
        <h4>Children Stories</h4>
        <h5><a href="{% url 'shop:shop_list' pk=children_id %}">See All</a></h5>
    </div>
    <div class="book_horizontal_list_body">
        {% for book in children_list %}
        <div class="book_horizontal_list_body_item" style="width:20%;float:left;">
            <img class="img-fluid img-thumbnail" src="{{ book.cover_photo.url }}" alt="{{ book.title }}" style="width:100%;">
            <div class="book_horizontal_list_body_item_desc" style="text-indent:5px;background-color:white;border-left:1px solid lightgray;border-right:1px solid lightgray;border-bottom:1px solid lightgray;">
                <a href="{% url 'shop:book_buy' pk=book.pk %}"><h5>{{ book.title }}</h5></a>
                <h5>Rs.{{ book.price }}</h5>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% if advice_list %}
<section class="book_horizontal_list">
    <div class="book_horizontal_list_head">
        <h4>Advice Books</h4>
        <h5><a href="{% url 'shop:shop_list' pk=advice_id %}">See All</a></h5>
    </div>
    <div class="book_horizontal_list_body">
        {% for book in advice_list %}
        <div class="book_horizontal_list_body_item" style="width:20%;float:left;">
            <img class="img-fluid img-thumbnail" src="{{ book.cover_photo.url }}" alt="{{ book.title }}" style="width:100%;">
            <div class="book_horizontal_list_body_item_desc" style="text-indent:5px;background-color:white;border-left:1px solid lightgray;border-right:1px solid lightgray;border-bottom:1px solid lightgray;">
                <a href="{% url 'shop:book_buy' pk=book.pk %}"><h5>{{ book.title }}</h5></a>
                <h5>Rs.{{ book.price }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<br>
<br>
<br>
{% endif %}
<br>
<br>
<br>

{% endblock %}