{% extends 'base.html' %}

{% block head %}Children Stories - Book Type 3: Nishantha Publishers{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3 sanda-topic-style">Children Stories
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'books:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Children Stories</li>
  </ol>
{% if object_list %}
{% for book in object_list %}
  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <a href="#">
        <img class="img-fluid img-thumbnail rounded mb-3 mb-md-0 img-gray-border-sanda" src="{{ book.cover_photo.url }}" alt="Nishantha Publishers {{ book.title }}" width="750">
      </a>
    </div>
    <div class="col-md-5">
      <h3><a href="{% url 'book_single:index' pk=book.pk %}">{{ book.title }}</a></h3>
      <h5>Title: {{ book.title }}</h5>
      <h5>Author: {{ book.author }}</h5>
      <h5>Description:</h5>
      <p>{{ book.description }}</p>
      <a class="btn btn-primary" href="{% url 'book_single:index' pk=book.pk %}">
        <span class="fa fa-info-circle"></span>
        See Details
      </a>
      <a class="btn btn-warning" href="{% url 'shop:book_buy' pk=book.pk %}">Buy
        <span class="fa fa-shopping-cart"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  <hr>
{% endfor %}
{% else %}
<h4>No books found!</h4>
{% endif %}

</div>
{% endblock %}
